.grad {
    background-image: radial-gradient(circle, #D30E00, #6C0500);
  }

.crystals{
    display: flex;
    justify-content:space-around;
    align-items:center;
}
.crystal{
    border-width:7px;  
    border-style:inset;
    height: 300px;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
p{
color: white
}

img{
    width:50px;
}